/* global settings */
body {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 10pt;
    max-width: 800px;
    padding-top: 50px;
    margin-bottom: 50px;
}

h1 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: bold;
}

h2 {
    font-weight: bold;
    font-size: 10pt;
    font-family: "Segoe UI",Arial,sans-serif;
}

h3 {
    font-weight: bold;
    color:gray;
    font-size: 11pt;
    font-family: 'Ubuntu Mono', monospace;
    margin-bottom: 0px;
}

p {
    font-size: 10pt;
    margin: 5px 0px 10px 0px;
}

.section {
    margin-bottom: 15px;
}

/* links */
a {
    background-color: transparent;
    color: inherit;
    text-decoration: none;
    transition: background .15s cubic-bezier(.33,.66,.66,1);
    border-bottom: 3px solid #D8D8D8;
    /*box-shadow: inset 0 -3px 0 #D8D8D8;*/
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
}

a:hover {
    background-color: #D8D8D8;
}

/* local settings */

#content {
    margin: 0 auto;
}

img {
    padding: 0px 12px 3px 0px;
    width: 20vw;
}

#user-pic {
    width: 30vw;
    min-width: 125px;
    max-width: 200px;
}