/* global settings */
body {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 10pt;
    margin-bottom: 50px;
    max-width: 1000px;
}

h1 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: bold;
}

h2 {
    font-weight: bold;
    font-size: 10pt;
    font-family: "Segoe UI",Arial,sans-serif;
}

h3 {
    font-weight: bold;
    color: gray;
    font-size: 10pt;
    font-family: 'Ubuntu Mono', monospace;
    margin-bottom: 0px;
}

p {
    font-size: 10pt;
    margin: 5px 0px 10px 0px;
}

ul {
    padding-left: 16px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #D8D8D8;
}

/* links */
a {
    background-color: transparent;
    color: inherit;
    text-decoration: none;
    transition: background .15s cubic-bezier(.33,.66,.66,1);
    border-bottom: 3px solid #D8D8D8;
    overflow-wrap: normal;
    word-break: normal;
    word-wrap: normal;
}

a:hover {
    background-color: #D8D8D8;
}

#icons > a:hover {
    background-color: white;
}

/* local settings */

#content {
    margin: 0 auto;
}

img {
    width: 20vw;
    margin: 0 auto;
}

#user-pic {
    width: 30vw;
    min-width: 125px;
    max-width: 200px;
}

#user-pic-bar {
    padding-top:16px;
    padding-bottom:32px;
    width: 30vw;
    min-width: 125px;
    max-width: 200px;
}